[submodule "ocgcore"]
	path = ocgcore
	url = https://github.com/moecube/ygopro-core
[submodule "script"]
	path = script
	url = git@github.com:moecube/ygopro-scripts.git
[submodule "third_party/miniaudio"]
	path = third_party/miniaudio
	url = git@github.com:mackron/miniaudio.git
[submodule "third_party/irrlicht"]
	path = third_party/irrlicht
	url = git@github.com:mercury233/irrlicht.git
